/*-- scss:defaults --*/

// Inline code
$code-bg: #6c757d;

.Reactable {
  background-color: transparent !important;
}

select {
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  outline-style: solid;
  outline-width: 0;
  padding: 5px 7px;
  width: 100%;
}

.rt-filter {
  border: 1px solid rgba(255,255,255,0.1) !important;
  border-radius: 3px !important;
}

.rt-tr-striped {
  background-color: rgba(255,255,255,0.03) !important;
}
